<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Proveedor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar.html"></div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h1>Crear Proveedor</h1>
        </div>
        <div class="col-12">
            <form th:action="@{/crearEstudiante}" method="post" th:object="${estudiante}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <lavel > Apellido</lavel>
                        <input th:field="*{apellido}" th:value="*{apellido}"type="text" class="form-control" placeholder="apellido" required>
                    </div>

                    <div class="form-group col-md-6">
                        <lavel > Nombre</lavel>
                        <input th:field="*{nombre}" th:value="*{nombre}"type="text" class="form-control" placeholder="nombre" required>
                    </div>

                    <div class="form-group col-md-6">
                        <lavel > Rut</lavel>
                        <input th:field="*{rut}" th:value="*{rut}"type="text" class="form-control" placeholder="rut" required>
                    </div>

                    <div class="form-group col-md-6">
                        <lavel > Fecha de Nacimiento</lavel>
                        <input th:field="*{fechaNacimiento}" th:value="*{fechaNacimiento}"type="text" class="form-control" placeholder="fechaNacimiento" required>
                    </div>

                    <div class="form-group col-md-6">
                        <lavel > Nombre Colegio</lavel>
                        <input th:field="*{nombreColegio}" th:value="*{nombreColegio}"type="text" class="form-control" placeholder="nombreColegio" required>
                    </div>
                    v

                    <div class="form-group col-md-6">
                        <lavel > Año de Egreso</lavel>
                        <input th:field="*{anioEgreso}" th:value="*{anioEgreso}"type="text" class="form-control" placeholder="anioEgreso" required>
                    </div>

                    <div class="form-group col-md-6">
                        <lavel > Tipo de Colegio</lavel>
                        <input th:field="*{tipoColegio}" th:value="*{tipoColegio}"type="text" class="form-control" placeholder="tipoColegio" required>
                    </div>

                </div>
                <div>
                    <button type="submit" class="btn btn-primary" th:disabled="${#fields.hasErrors()}">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>