<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="navbar.html"></div>
<div align="center">

    <a  href="/estudiante" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Crear Estudiante HU1</a>
    <a  href="/cuotas" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Cuotas HU2</a>
    <a  href="/listarCuotasPorAlumno" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">listarCuotasPorAlumno HU3</a>
    <a  href="/registrarPagoCuota" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">RegistrarPagoCuota HU4</a>
    <a  href="/cargarExcel" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">importar notas Excel HU5</a>
    <a  href="/calcularPlanillaPagos" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">calcular planilla pagos HU6</a>
    <a  href="/calcularReporte" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Calcular Reporte HU7</a>


</div>
</body>
</html>