<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pagarCuota</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div>
    <div th:replace="navbar.html"></div>

    <form id="modificarCuotaForm" method="post">
        <label for="cuotaId">ID de la Cuota:</label>
        <input type="number" id="cuotaId" placeholder="Ingrese la ID de la cuota"><br>

        <button type="button" onclick="redireccionarModificarCuota()">Modificar Cuota</button>
    </form>

    <script>
        function redireccionarModificarCuota() {
            var cuotaId = document.getElementById('cuotaId').value;

            if (cuotaId) {
                // Modificar la acción del formulario antes de enviarlo
                document.getElementById('modificarCuotaForm').action = '/modificarCuota/' + cuotaId;
                document.getElementById('modificarCuotaForm').submit();
            } else {
                alert('Por favor, complete la ID de la cuota.');
            }
        }
    </script>
</div>

</body>
</html>